
body, html {
    background-color: #4B7399;
}

.container {
    background: #fff;
    padding: 20px 40px;
    border: solid 1px black;
    margin-top: 20px;
    min-height: 70%;
}

header h3 {
    border-bottom: 1px solid #888 ;
}

.title h4, .title h3 {
    float: left;
    margin-right: 20px;
}

.title button {
    float: right;
    margin-top: 20px;
}

.lvl-choose-button {
    background: #0044cc;
    color: #fff;
    padding: 5px;
    width: 100px;
    text-align: center;
}

.lvl-upload-button {
    background: #2f96b4;
    color: #fff;
    padding: 5px;
    width: 100px;
    text-align: center;
}

.owner-list img {
    width: 300px;
    height: 200px;
}
